<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick</title>
</head>

<body>
    <h1>OPEN IT</h1>
    <p>You open the box and discover a wad of cash.</p>
    <h2>What do you do?</h2>
    <a href="/take_home">Take the box home</a>
    <a href="/police">>Take the box to the police</a>
    <a href="/pocket">Pocket the cash</a>

</body>

</html>